// -- text sizes
.fs-1 {
    font-size: 2.5rem;
}
.fs-2 {
    font-size: 2rem;
}
.fs-3 {
    font-size: 1.75rem;
}
.fs-4 {
    font-size: 1.5rem;
}
.fs-5 {
    font-size: 1.25rem;
}

// font styles
.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}

// text align
.text-center {
    text-align: center;
}
.text-end {
    text-align: end;
}
.text-start {
    text-align: start;
}

// line height
.line-h-1 {
    line-height: 2.5rem;
}
.line-h-2 {
    line-height: 2rem;
}
.line-h-3 {
    line-height: 1.75rem;
}
.line-h-4 {
    line-height: 1.5rem;
}
.line-h-5 {
    line-height: 1.25rem;
}

// -- font fasces
@font-face {
    font-family: 'Open-Sans';
    src: url('/static/fonts/open-sans/static/OpenSans/OpenSans-Medium.ttf'),
         url('../../fonts/open-sans/static/OpenSans/OpenSans-Medium.ttf');
}