{% extends 'core.html' %}
{% load static %}

{% comment %} content {% endcomment %}
{% block content %}

    {% include 'inc/components/_header.html' %}

    <div class="main">
        <div class="container h-100">
            <div class="content h-100 oveflow-hidden rounded shadow">
                <div class="content__sections h-100 w-100">

                    <!-- Home -->
                    {% include 'inc/pages/_home.html' %}
                    
                    <!-- About Project -->
                    {% include 'inc/pages/_project.html' %}
                    
                    <!-- About Me -->
                    {% include 'inc/pages/_me.html' %}
                    
                    <!-- Contacts -->
                    {% include 'inc/pages/_contacts.html' %}
                    
                    <!-- Prices -->
                    {% include 'inc/pages/_prices.html' %}
                    
                </div>
            </div>
        </div>
    </div>

    {% include 'inc/components/_footer.html' %}

{% endblock content %}

{% block scripts %}
{% endblock scripts %}