<footer class="header py-4">
    <div class="container header__container">
        <nav class="nav-bot">
            <!-- nav brend -->
            <a class="nav-bot__brand fs-3 d-flex" href="#">
                <i class="icofont-swirl"></i>
                <span class="d-block ms-2">Arcane</span>
            </a>
    
            <!-- nav toggler -->
            <button class="nav-bot__toggler">
                <span class="nav-bot__toggler--icon"></span>
            </button>
            
            <!-- nav bar-->
            <div class="nav-bot__bar">
                <div class="nav-bot__links px-5 capitalize">
                    <a class="fs-4 nav-bot__link link" href="#">
                        <i class="icofont-telegram"></i>
                        <span class="fs-5">telegram</span>
                    </a>

                    <a class="fs-4 nav-bot__link link" href="#">
                        <i class="icofont-instagram"></i>
                        <span class="fs-5">instagram</span>
                    </a>

                    <a class="fs-4 nav-bot__link link" href="#">
                        <i class="icofont-github"></i>
                        <span class="fs-5">github</span>
                    </a>

                    <a class="fs-4 nav-bot__link link" href="#">
                        <i class="icofont-whatsapp"></i>
                        <span class="fs-5">whatsapp</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</footer>