<header class="header py-4">
    <div class="container header__container">
        <nav class="nav-bar">
            <!-- nav-barbar brend -->
            <a class="nav-bar__brand fs-3 d-flex" href="#">
                <i class="icofont-swirl"></i>
                <span class="d-block ms-2">Arcane</span>
            </a>
    
            <!-- nav-barbar toggler -->
            <button class="nav-bar__toggler">
                <span class="nav-bar__toggler--icon"></span>
            </button>
            
            <!-- nav-barbar -->
            <div class="nav-bar__bar">
                <div class="nav-bar__links">
                    <a class="nav-bar__link link active" href="#">Главная</a>
                    <a class="nav-bar__link link" href="#">О Проекте</a>
                    <a class="nav-bar__link link" href="#">Обо мне</a>
                    <a class="nav-bar__link link" href="#">Контакты</a>
                    <a class="nav-bar__link link" href="#">Цены</a>
                    <a class="nav-bar__link link disabled" href="#">Шаблоны</a>
                    <a class="nav-bar__link link disabled" href="#">Конструктор</a>
                </div>
    
                <div class="nav-bar__auth">
                    <a class="nav-bar__link link" href="#">Войти</a>
                    <a class="nav-bar__link link" href="#">Зарегистрироваться</a>
                </div>
            </div>
        </nav>
    </div>
</header>