<div class="tab">

    <div class="tab__items">

        <div class="tab__item active show">
            
            <h3 class="fs-2 text-primary">Разработка под ключ</h3>

            <p class="w-50 text-center fs-5 line-h-3 mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, commodi temporibus amet impedit et distinctio minus repudiandae suscipit architecto doloremque libero ipsa deleniti nam assumenda iure rerum quisquam corporis repellat.
            </p>

            <a href="#" class="link fs-4 mt-4">Learn more</a>

        </div>
        <div class="tab__item">
            <h3 class="fs-2 text-primary">Полная поддержка проекта</h3>

            <p class="w-50 text-center fs-5 line-h-3 mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, commodi temporibus amet impedit et distinctio minus repudiandae suscipit architecto doloremque libero ipsa deleniti nam assumenda iure rerum quisquam corporis repellat.
            </p>

            <a href="#" class="link fs-4 mt-4">Learn more</a>
        </div>
        <div class="tab__item">
            <h3 class="fs-2 text-primary">Разработка backend Django</h3>

            <p class="w-50 text-center fs-5 line-h-3 mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, commodi temporibus amet impedit et distinctio minus repudiandae suscipit architecto doloremque libero ipsa deleniti nam assumenda iure rerum quisquam corporis repellat.
            </p>

            <a href="#" class="link fs-4 mt-4">Learn more</a>
        </div>
        <div class="tab__item">
            <h3 class="fs-2 text-primary">Дизайн и верстка</h3>

            <p class="w-50 text-center fs-5 line-h-3 mt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, commodi temporibus amet impedit et distinctio minus repudiandae suscipit architecto doloremque libero ipsa deleniti nam assumenda iure rerum quisquam corporis repellat.
            </p>

            <a href="#" class="link fs-4 mt-4">Learn more</a>
        </div>

    </div>

    <div class="tab__controllers">
        <button type="button" class="tab__button">
            <span>Кнопка 1</span>
        </button>
        <button type="button" class="tab__button">
            <span>Кнопка 2</span>
        </button>
        <button type="button" class="tab__button">
            <span>Кнопка 3</span>
        </button>
        <button type="button" class="tab__button">
            <span>Кнопка 4</span>
        </button>
    </div>

</div>