<footer class="footer">
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="icofont-swirl"></i>
                <span>Arcane</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a class="nav-link link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link link" href="#">About Project</a>
                    <a class="nav-link link" href="#">About Me</a>
                    <a class="nav-link link" href="#">Contacts</a>
                    <a class="nav-link link" href="#">Prices</a>
                    <a class="nav-link link disabled" href="#" tabindex="-1" aria-disabled="true">Templates</a>
                    <a class="nav-link link disabled" href="#" tabindex="-1" aria-disabled="true">Constructor</a>
                </div>
            </div>

            <div class="footer__social">
                <a href="#" class="link fs-5 text-success">
                    <i class="icofont-telegram"></i>
                    <span>Telegram</span>
                </a>
                <a href="#" class="link fs-5 text-success">
                    <i class="icofont-github"></i>
                    <span>Github</span>
                </a>
                <a href="#" class="link fs-5 text-success">
                    <i class="icofont-instagram"></i>
                    <span>Instagram</span>
                </a>
            </div>
        </div>
    </nav>
</footer>