<header class="header py-2">
    <div class="container header__container">
        <nav class="nav">
            <!-- navbar brend -->
            <a class="nav__brand fs-3" href="#">
                <i class="icofont-swirl"></i>
                <span>Arcane</span>
            </a>
    
            <!-- navbar toggler -->
            <button class="nav__toggler">
                <span class="nav__toggler--icon"></span>
            </button>
            
            <!-- navbar -->
            <div class="nav__bar">
                <div class="nav__links">
                    <a class="nav__link link active" href="#">Главная</a>
                    <a class="nav__link link" href="#">О Проекте</a>
                    <a class="nav__link link" href="#">Обо мне</a>
                    <a class="nav__link link" href="#">Контакты</a>
                    <a class="nav__link link" href="#">Цены</a>
                    <a class="nav__link link disabled" href="#">Шаблоны</a>
                    <a class="nav__link link disabled" href="#">Конструктор</a>
                </div>
    
                <div class="nav__auth">
                    <a class="nav__link link" href="#">Войти</a>
                    <a class="nav__link link" href="#">Зарегистрироваться</a>
                </div>
            </div>
        </nav>
    </div>
</header>